// breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 960px;
$breakpoint-lg: 1020px;

:root {
    // paddings
    --container-padding: 10px;

    // colors
    --beige: #faf5e9;
    --beige-dark: #EBD8BD;
    --yellow-light: #f5ddae;
    --yellow: #efb749;
    --yellow-dark: #604511;
    --green-light: #b3d5c9;
    --green: #638A7C;
    --green-dark: #37504A;

    // font size
    --base: 18px;
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.25rem;

    @media (min-width: $breakpoint-sm) {
        // paddings
        --container-padding: 20px;
    }

    @media (min-width: $breakpoint-md) {
        // paddings
        --container-padding: 30px;

        // font size
        --h1: 2.2rem;
        --h2: 1.75rem;
        --h3: 1.5rem;
    }

    @media (min-width: $breakpoint-md) {
        // paddings
        --container-padding: 40px;

        // font size
        --base: 20px;
    }
}